@media (min-width:786px) {

    .contenair {
        margin: 0 50px;
    }

    .nav ul {
        display: none;
    }

    .button button {
        display: flex;
    }

    /* ================s-1================ */
    .s-1 .text {
        width: 70%;
        text-align: right;
    }

    /* ==============s-2==================== */
    .s-2 .row {
        display: contents;
        gap: 45px;

    }

    .s-2 .text {
        margin-left: 2vh;
    }
    .s-2 .text .p1 {
        margin-top: 1rem;
        width: 100%;
    }
    /* ==============s-5==================== */

    .s-5 .row {
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
        justify-content: center;
    }

    .s-5 .col {
        margin-bottom: 1em;
    }

    .s-5 .col {

        height: 180px;
        width: 350px;

    }

    .s-5 .row img {
        height: 180px;
        width: 350px;

    }

    /* ========s-6============== */
    .s-6 .row {
        display: contents;
    }

    .s-6 .p1 {
        background: aliceblue;
        width: 40%;
        padding: 10px;
        text-align: center;
        border-radius: 20px;
        font-size: 18px;
    }

    /* ========================s-7================ */

    .icon {
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
        /* text-align: center; */
    }

    p {
        color: white;
        font-size: 24px;
        padding-bottom: 35px;
    }

    /* =============s-8================== */
    .s-8 .head .row {
        display: grid;
        grid-template-columns: auto auto;
        gap: 90px;
    }

    .s-8 .head .row .col {
        width: auto;
    }

    .s-8 .head .row .col span {

        color: #fff;
        font-size: 4em;
        width: 100px;
        height: 100px;
        line-height: 100px;
    }

    /* ===================s-9==================== */
    .reg .row {
        display: grid;
        grid-template-columns: auto;
        text-align: center;
        gap: 50px;
        justify-content: space-around;
    }

    .reg textarea.in {
        padding: 19px 20px;
        border: 1px solid #acacac;
        border-radius: 20px;
        width: 100%;
        height: 200px;
    }
}